img {
    float: right;
    margin-left: 15px;
}

body {
    background-color: whitesmoke
}

header {
    background-color: gray;
    text-align: center;
    padding: 1px
}

h1 {
    font-size: 50px;
}