.container {
    display: flex;
    justify-content: center;
    flex-direction: row;

}

.container div {

    font-size: 20px;
    margin: 10px;
    border: 15px;
}

.header {
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: 5px;
}

.nimi {
    color: black;

}


.side {
    flex-direction: row;
    flex: 20%;
    background-color: black;
    color: white;
    padding: 20px;
}

.sivu {
    background-color: white;
    color: black;
}


.main {
    border-style: solid;
    text-align: center;
    flex: 80%;
    color: black;
    background-color: white;
    padding: 20px;


}

.pää {
    background-color: whitesmoke;

}

.ansiot {
    padding: 15px;
    background-color: white;
    border-style: solid;
    border-width: 3px;
    margin: 10px;
}

.mina {
    width: 300px;
    margin: auto;
    border: 5px solid black;


}

@media screen and (max-width: 1000px) {

    .container,
    .navbar {
        flex-direction: column;
    }
}

.megateksti {
    color: black;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}


img {
    float: none;
    margin-left: 15px;
}

body {
    background-color: rgb(185, 183, 183);
}

header {
    text-align: center;
    padding: 70px 0;
    color: white;
    position: relative;
}

header .header-bg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    z-index: -1;
}

footer {
    padding: 20px;
    background-color: rgb(69, 69, 69);
    text-align: center;
    color: white;
    font-size: large;
}

.näkymätön {
    opacity: 0.0;
}

nav {
    background-color: white;
    text-align: center;
    padding: 1px;



    ul {
        list-style-type: none;
        margin: 5px;
        padding: 10px;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
    }



}


h1 {
    font-size: 50px;
}


form {
    display: inline;
}

button {
    background-color: rgb(211, 211, 211);
    border-style: solid;
    border-width: 2px;
    color: black;
    font-size: large;
    padding: 20px 15px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(168, 168, 168);

}

.mainos {
    background-color: yellow;
    border-style: solid;
    border-color: red;
    border-width: 3px;
    padding: 10px;
    margin: 20px;
    text-align: center;
}


.tekele {
    background-color: white;
    border-style: solid;
    border-width: 3px;
    padding: 10px;
    margin: 20px;
    text-align: center;

}

.tekelekuva {
    width: 300px;
    margin: auto;
    border: 3px solid black;

}

.tekeleloota {
    display: flex;
    align-items: start;
    align-content: center;
    flex-direction: row;
    max-width: 1200px;


}

@media screen and (max-width: 1000px) {

    .tekeleloota,
    .navbar {
        flex-direction: column;
    }
}